*, *::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --prm-yellow: hsl(51, 100%, 49%);
  --prm-cyan-100: hsl(167, 40%, 24%);
  --prm-cyan-200: hsl(168, 34%, 41%);
  --prm-blue: hsl(198, 62%, 26%);
  --prm-red: hsl(7, 99%, 70%);
  --ntr-white: hsl(0, 0%, 100%);
  --ntr-blue-100: hsl(212, 27%, 19%);
  --ntr-blue-200: hsl(213, 9%, 39%);
  --ntr-blue-300: hsl(232, 10%, 55%);
  --ntr-blue-400: hsl(210, 4%, 67%);
  --sans: "Barlow", sans-serif;
  --serif: "Fraunces", serif;
}

html, body {
  font-family: var(--sans);
  font-size: 18px;
}

img {
  display: block;
  width: 100%;
}

ul[class] {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5rem;
  color: var(--ntr-blue-300);
  letter-spacing: 0.5px;
}

.hide-it {
  height: 0;
  width: 0;
  overflow: hidden;
  pointer-events: none;
  opacity: 0;
}

.wrapper {
  max-width: 80%;
  margin-inline: auto;
}
@media screen and (min-width: 950px) {
  .wrapper {
    max-width: 1920px;
  }
}

#main-header {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 999999;
}
#main-header .wrapper {
  padding: 2rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
#main-header .burger-container {
  pointer-events: all;
}
#main-header nav {
  background-color: var(--ntr-white);
  position: absolute;
  right: 1rem;
  left: 1rem;
  padding-block: 1rem;
  opacity: 0;
  top: 3rem;
  -webkit-transition: all 0.5s cubic-bezier(0.23, 1.5, 0.32, 1);
  transition: all 0.5s cubic-bezier(0.23, 1.5, 0.32, 1);
  max-width: 400px;
  scale: 0.1;
  -webkit-margin-start: auto;
          margin-inline-start: auto;
  -webkit-transform-origin: top right;
          transform-origin: top right;
}
#main-header nav a {
  text-shadow: 1px 1px 1px rgba(17, 17, 17, 0.3137254902);
}
#main-header nav.show {
  opacity: 1;
  top: 5rem;
  pointer-events: auto;
  scale: 1;
}
#main-header nav::before {
  content: "";
  position: absolute;
  top: -15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
  height: 0;
  width: 0;
  background-color: transparent;
  border: 15px solid var(--ntr-white);
  border-block-start-color: transparent;
  border-inline-start-color: transparent;
}
#main-header nav li a {
  color: var(--ntr-blue-200);
  font-weight: 700;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem;
  margin-block: 1rem;
  margin-inline: auto;
}
#main-header nav li.call-to-action {
  background-color: var(--prm-yellow);
  border-radius: 30px;
  font-family: var(--serif);
  text-transform: uppercase;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-inline: auto;
  color: var(--ntr-blue-100);
}
#main-header nav li.call-to-action a {
  margin-block: unset;
  padding-block: 1rem;
}
#main-header nav li:not(.call-to-action) a {
  mix-blend-mode: color-burn;
}
@media screen and (min-width: 950px) {
  #main-header .burger-container, #main-header .burger-container.show {
    display: none;
    pointer-events: none;
  }
  #main-header nav, #main-header nav.show {
    opacity: 1;
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    max-width: unset;
    scale: 1;
    pointer-events: auto;
    background-color: transparent;
  }
  #main-header nav::before, #main-header nav.show::before {
    display: none;
  }
  #main-header nav ul, #main-header nav.show ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #main-header nav ul a, #main-header nav.show ul a {
    color: var(--ntr-white);
    padding-block: 0;
    padding-inline: 2rem;
  }
  #main-header nav ul .call-to-action, #main-header nav.show ul .call-to-action {
    background-color: var(--ntr-white);
    color: var(--ntr-blue-100);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  #main-header nav ul .call-to-action a, #main-header nav.show ul .call-to-action a {
    color: var(--ntr-blue-100);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  #main-header nav ul .call-to-action:hover, #main-header nav.show ul .call-to-action:hover {
    background-color: var(--ntr-blue-400);
    opacity: 0.9;
  }
  #main-header nav ul .call-to-action:hover a, #main-header nav.show ul .call-to-action:hover a {
    color: var(--ntr-white);
  }
}

main {
  max-width: 1920px;
  margin-inline: auto;
}

section .wrapper {
  text-align: center;
}
section h2 {
  font-family: var(--serif);
  text-align: center;
  font-weight: 800;
  max-width: 80%;
  margin-block: 3rem 1rem;
  margin-inline: auto;
}
section .call-to-action a {
  display: block;
  margin-block: 2rem 2rem;
  margin-inline: auto;
  padding-inline: 0.5rem;
  color: var(--ntr-blue-100);
  font-family: var(--serif);
  text-transform: uppercase;
  font-weight: 900;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
section .call-to-action a::after {
  content: "";
  position: absolute;
  height: 50%;
  width: 100%;
  background-color: var(--prm-yellow);
  left: 50%;
  top: 50%;
  border-radius: 20px;
  opacity: 0.2;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: -1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
section .call-to-action a:hover::after {
  opacity: 1;
  top: 60%;
}
section .call-to-action.red a::after {
  background-color: var(--prm-red);
}

#hero-section {
  background-image: url(../Media/mobile/image-header.jpg);
  background-size: cover;
  background-position: center;
}
@media screen and (min-width: 950px) {
  #hero-section {
    background-image: url(../Media/desktop/image-header.jpg);
  }
}
#hero-section .wrapper {
  min-height: 100svh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}
#hero-section img {
  width: auto;
}
#hero-section h2 {
  font-size: 2rem;
  font-family: var(--serif);
  text-transform: uppercase;
  text-align: center;
  color: var(--ntr-white);
  letter-spacing: 0.4rem;
}
#hero-section h2 span {
  display: block;
}
@media screen and (min-width: 950px) {
  #hero-section h2 span {
    display: inline;
  }
}

section figure {
  position: relative;
}
section figure figcaption {
  position: absolute;
  bottom: 4rem;
  left: 50%;
  width: 100%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0.4;
}
section figure figcaption p {
  color: var(--ntr-bue-100);
}
@media screen and (min-width: 950px) {
  section#graphic-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  section#graphic-section .col {
    width: 50%;
  }
  section#graphic-section .wrapper {
    max-width: 60%;
  }
}
@media screen and (min-width: 950px) {
  section.image-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section.image-text:nth-of-type(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  section.image-text .col {
    width: 50%;
  }
  section.image-text .col.wrapper {
    padding-inline: 3rem;
    text-align: unset;
  }
  section.image-text .col.wrapper h2 {
    text-align: unset;
    max-width: unset;
    font-size: 2rem;
  }
  section.image-text .col.wrapper p {
    font-size: 18px;
  }
  section.image-text .col.wrapper .call-to-action a {
    margin-inline: unset;
  }
}

#testimonials-section {
  margin-block: 10rem 5rem;
}
#testimonials-section header h2 {
  font-size: 1rem;
  text-transform: uppercase;
  color: var(--ntr-blue-400);
}
#testimonials-section img {
  width: 80px;
  height: 80px;
  overflow: hidden;
  border-radius: 50%;
  margin-inline: auto;
  margin-block: 3rem 2rem;
}
#testimonials-section h3 {
  margin-block: 2rem 4rem;
}
#testimonials-section h3 .main {
  display: block;
  font-size: 1rem;
  font-weight: 800;
  font-family: var(--serif);
}
#testimonials-section h3 .sub {
  font-size: 13px;
  color: var(--ntr-blue-400);
}
@media screen and (min-width: 950px) {
  #testimonials-section .contents {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 2rem;
  }
  #testimonials-section .contents .col {
    max-width: 380px;
  }
}

#images-section .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (min-width: 950px) {
  #images-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
}

#main-footer {
  background-color: var(--prm-cyan-200);
  -webkit-padding-before: 3rem;
          padding-block-start: 3rem;
}
#main-footer .wrapper {
  max-width: 350px;
}
#main-footer .logo-container {
  margin-inline: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-margin-after: 2rem;
          margin-block-end: 2rem;
}
#main-footer .logo-container svg {
  fill: var(--prm-cyan-100);
}
#main-footer nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-margin-after: 3rem;
          margin-block-end: 3rem;
}
#main-footer nav ul a {
  color: var(--prm-cyan-100);
  font-weight: bolder;
  opacity: 0.7;
}
#main-footer nav ul a:hover {
  color: var(--ntr-white);
}
#main-footer .footer-socials-container img {
  max-width: 50px;
}
#main-footer .footer-socials-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-padding-after: 3rem;
          padding-block-end: 3rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 80%;
  margin-inline: auto;
}
#main-footer .footer-socials-container ul a img {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
#main-footer .footer-socials-container ul a img:hover {
  -webkit-filter: brightness(10);
          filter: brightness(10);
}

.attribution {
  background-color: var(--ntr-blue-100);
  color: var(--ntr-blue-200);
  padding-block: 1rem;
}
.attribution a {
  color: var(--ntr-blue-300);
  text-decoration: underline;
}/*# sourceMappingURL=app.css.map */